{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 180,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[src/]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
