.image-canvas {
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: move;
    z-index: 10;
}

.frame {
    $size: 200px; //the same as in env!!!
    width: $size;
    height: $size;
    position: absolute;
    top: calc(50% - $size/2);
    left: calc(50% - $size/2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 4px solid white;
    z-index: 20;
    pointer-events: none;
}

.x {
    background: green;
    padding: 10px;
}
